:root {
  //************* Background Color Variables *****************//
  --headerBackground: #2e2e2d;
  --footerBackground: #161616;

  --mainGradient: linear-gradient(to right, #ffda00 0%, #F57C00 50%, #ffbc1d 100%);
  --yellow: #ffda00;
  --orange: #F57C00;
}
