@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import './styles/vueDataTime.scss';
@import 'styles/general';
@import './styles/sidebar';
@import './styles/footer';
@import './styles/header';
@import './styles/profile';
@import './styles/vue-multiselect.min.css';
@import './styles/activities';
@import "variables";
