@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

div {
  font-family: "Lato", sans-serif;
}

h4 {
  color: #ffbc1d;
}
p {
  color: #565554;
}

.background {
  background-color: #3d3d3b;
  position: absolute;
  height: 100%;
  width: 100%;
}

.space {
  padding: 7px;
}

.ml-2 {
  color: #434747;
}

.link {
  color: #ffbc1d;
}
