.activity-list {
  .text-name {
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--gray);
    height: available;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .description-height {
    height: 60px;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .description-aria-height {
    height: 60px;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .technology-name {
    font-size: initial;
  }

  .tab-section .card {
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--yellow);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  .activity-image {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;
  }

  .owner-username-styles {
    color: black;
    font-weight: bold;
  }

  .description-styles {
    text-indent: 2em;
    font-weight: initial;
  }

  .create-activity-icon {
    position: absolute;
    right: 5px;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
    background: var(--yellowGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: var(--yellow);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .tab-section .card:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--gray);
    cursor: pointer;
  }

  .round-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .image-in-container img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .application-deadline {
    color: var(--green);
    font-size: initial;
    padding: 0;
  }

  .deadline {
    color: var(--red);
    font-size: initial;
    padding: 0;
  }

  .edit-icon {
    color: var(--green);
  }

  .applicants-icon {
    color: var(--orange);
  }

  .apply-icon {
    color: var(--orange);
    font-size: 20px;
  }

}
