.activity-list {
  .text-name {
    color: #000;
    font-size: 20px;
    text-shadow: 1px 1px 1px #fffab0;
    height: available;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .description-height {
    height: 60px;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .description-aria-height {
    height: 60px;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .technology-name {
    font-size: initial;
  }

  .SectionStyle .card {
    border-radius: 15px;
    box-shadow: 5px 5px 5px #ffda00;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  .activity-image {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;
  }

  .owner-username-styles {
    color: #000000;
    font-weight: bold;
  }

  .description-styles {
    text-indent: 2em;
    font-weight: initial;
  }

  .create-activity-icon {
    position: absolute;
    right: 5px;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
    background: var(--mainGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .create-activity-icon:hover {
    background: var(--yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .SectionStyle .card:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #9e9e9e;
  }

  .round-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .user-image {
    border-radius: 50%;
    height: 40px;
    width: 60px;
  }

  .application-deadline {
    color: #006b00;
    font-size: initial;
    padding: 0;
  }

  .deadline {
    color: red;
    font-size: initial;
    padding: 0;
  }

  .delete-icon {
    color: #ff1100;
  }

  .edit-icon {
    color: #006b00;
  }

  .apply-icon {
    color: #F57C00;
    font-size: 20px;
  }
}
