footer {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #161616;
  }

  .bottom-bar {
    width: 100%;
    height: 2px;
  }

  .inner {
    width: 100%;
    overflow: hidden;
    height: inherit;
  }

  .inner .bottom-bar-yellow {
    width: 100%;
    height: inherit;
  }

  .bottom-bar-yellow {
    background: #ffda00;
  }
}
