body {
  font-family: 'Lato', sans-serif;

  .main {
    padding-top: 80px;
    padding-left: 50px;
    transition: all 0.5s;
    height: auto;
    width: auto;
  }

  h2 {
    font-size: 30px;
    color: var(--gray);
    font-weight: bold;
  }

  h4 {
    color: black;
  }

  .login-registration-background {
    background-color: var(--loginBackground);
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
  }

  p {
    color: var(--gray);
  }

  .button-padding {
    padding: 7px;
  }

  .link-redirect {
    color: var(--blue);
  }

  .home-content {
    padding-bottom: 70px;
  }

  .btn-1 {
    background-image: var(--blueGradient);
    color: white;
    margin-left: 5px;
  }

  .btn-delete {
    background-image: linear-gradient(to right, #ffda00 0%, #f54a00 50%, #ff0000 100%);
    color: #800000;
  }

  .btn-1:hover {
    background-position: right center;
  }

  .btn {
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
  }

  #card-outline .card {
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--yellow);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  #card-outline .card:hover {
    box-shadow: 5px 5px 10px var(--gray);
    cursor: pointer;
  }

  .line {
    padding: 1px;
    background-image: var(--lineGradient);
  }

  .page-item.active .page-link {
    background: #5a6268;
    border-color: #545b62;
  }

  .page-item a {
    color: var(--gray);
  }

  .text-color-activity {
    color: #2d2d2d;
  }

  .icon-add-comment {
    font-size: 40px;
  }

  .mouse-type-pointer{
    cursor: pointer;
  }
}
