body {
  font-family: 'Lato', sans-serif;

  .main {
    padding-top: 81px;
    padding-left: 50px;
    transition: all 0.5s;
  }

  .login {
    position: center;
  }

  h4 {
    color: #ffbc1d;
  }

  .login-registration-background {
    background-color: #2d2d2d;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  p {
    color: #565554;
  }

  .button-padding {
    padding: 7px;
  }

  .text-form {
    color: #434747;
  }

  .link-redirect {
    color: #ffbc1d;
  }

  .position-row {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
