header {
  &.header-attributes {
    background-color: var(--headerBackground);
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .logo-icon {
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    width: 100px;
    padding: 1px;
    position: center;
  }

  @media screen and (max-width: 414px) {
    .logo-icon {
      width: 70px;
    }
  }

  .logo-icon:hover {
    opacity: 0.5;
  }

  .top-bar {
    width: 100%;
    height: 7px;
  }

  .inner {
    width: 100%;
    overflow: hidden;
    height: inherit;
  }

  .inner .top-bar-orange,
  .inner .top-bar-violet,
  .inner .top-bar-blue,
  .inner .top-bar-green,
  .inner .top-bar-blueSky {
    width: 20%;
    float: left;
    height: inherit;
  }

  .top-bar-orange {
    background: #f4835b;
  }

  .top-bar-violet {
    background: #555464;
  }

  .top-bar-blue {
    background: #69cde9;
  }

  .top-bar-green {
    background: #aabcbd;
  }

  .top-bar-blueSky {
    background: #9bd6e7;
  }

  .user-dropdown {
    color: var(--white) !important;
    font-size: 80%;
  }

  .user {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;
    border: 2px solid var(--white);
  }
}
