.edit {
  .profileCard {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
  }

  h2 {
    font-size: 30px;
    color: #555;
    font-weight: bold;
    padding-bottom: 50px;
  }

  h3 {
    font-size: 20px;
    color: #565656;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 10px;
  }

  h5 {
    text-transform: uppercase;
  }

  #card-outline img {
    margin-top: -110px;
  }

  #card-outline i {
    font-size: 26px;
    color: #555;
  }
  #card-outline .icon-size{
    font-size: 20px;
  }
  #card-outline i:hover {
    font-size: 28px;
    color-adjust: inherit;
  }

  #card-outline .card:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #9e9e9e;
  }
  #card-outline .card {
    border-radius: 15px;
  }

  .container {
    height: 100%;
    align-content: center;
  }

  .image-out-container {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
  }

  .image-in-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
  }

  .image-out-container .greenIcon {
    background-color: #4cd137;
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
  }

  .editProfile, profile {
    padding-top: 30px;
  }
  a{
    color: black;
  }
}
