.edit {
  .profile-card {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
  }

  .seniority-text {
    text-shadow: 1px 1px var(--gray);
    font-size: 17px;
    color: var(--gray);
  }

  .profile-title {
    padding-bottom: 70px;
  }

  h3 {
    font-size: 20px;
    color: black;
    margin-left: 10px;
    padding-top: 10px;
    font-weight: bold;
  }

  h5 {
    font-size: 17px;
    color: var(--gray);
    font-weight: bold;
  }

  #card-outline img {
    margin-top: -130px;
    box-shadow: 5px 5px 10px var(--gray);
  }

  #card-outline i {
    font-size: 20px;
    color: var(--gray);
  }

  #card-outline .icon-size {
    font-size: 20px;
  }

  #card-outline i:hover {
    font-size: 21px;
    color-adjust: inherit;
  }

  #card-outline .card:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--gray);
  }

  #card-outline .card {
    border-radius: 15px;
  }

  .container {
    height: 100%;
    align-content: center;
  }

  .image-out-container {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
  }

  .image-in-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
  }

  a {
    color: black;
  }

  .box {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    line-height: 1;
    background: var(--orangeGradient);
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis
  }

  @media screen and (max-width: 414px) {
    .image-in-container img {
      height: 150px;
      width: 150px;
      border: 2px solid white;
    }
  }
}
